@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dart-green: var(28,36,27);
  --white: var(255,255,255);
  --white-75: var(255,255,255,0.75);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  background-color: var(--dart-green);
  color: var(--white);
}
